@import './stylesheets/_colors.scss';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* SOBRESCRESVENDO O BOOTSTRAP */

.btn {
  color: $color-light-gray01;
  width: 100%;
  height: 3em;

}
.btn-light, .btn-light:hover {
  background-color: $color-button-light-blue02;
}

.btn-dark, .btn-dark:hover {
  background-color: $color-button-dark-blue01;
}

.btn-border, .btn-border:hover {
  border: solid $color-button-light-blue02;
  color: $color-button-light-blue02;
  font-weight: bold;
}

.link {
  text-decoration: none;
  color: $color-button-light-blue02;
}

