@import '../../App.scss';

.card-container{
	width: 780px;
	height: 411px;
}
img {
	width: 780px;
	height: 411px;
	border: 0.5px solid #565656;
	border-radius: 5px;
	display: block;
}
.card-title{
	position: absolute;
	width: 146px;
	height: 46px;
	left: 40px;
	top: 50px;
	color: $color-light-01;
	opacity: 0.9;
	text-shadow: 0px 0px 70px #000000;
}
.card-author{
	position: absolute;
	width: 97px;
	height: 16px;
	left: 40px;
	top: 105px;
	color: $color-light-02;
}
