<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" href="../style/forgotPassword.css">
    </head>

    <body>
        <header>
            <h4 className="text"> pyre </h4>
            <p className="text"> Olá, {{userName}}. Recebemos uma solicitação para a recuperação da sua senha.
                Se você achar que isso é um erro, apenas ignore esse e-mail. 
                Se não, apenas clique no botão abaixo para ser redirecionado para nossa página de recuperação de senha. </p> 
            <a href="http://localhost:4200/reset-password/{{resetPasswordUrlParam}}">> Vá para a página de recuperação de senha </a>
        </header>
    </body>

</html>