/* CORES PRIMÁRIAS */
$color-button-dark-blue01: #050426;
$color-button-light-blue02: #353380;
$color-header-dark-blue03: #030217;

/* CORES SECUNDÁRIAS */
$color-light-gray01: #F2F2F2;
$color-white02: #FFFFFF;
$color-medium-gray03: #D9D9D9;