/* primary */
$color-dark-01: #0a090c;
$color-dark-gray-01: #151416;
$color-medium-gray-01: #2c2d30;
$color-light-gray-01: #565656;
$color-light-01: #fefbff;
$color-purple-01: #9400d3;
$color-light-purple-01: #ca5aff;

/* support colors */
$color-icon-like-01: #d30059;
$color-error-01: #eb44eb;
$color-status-bar-01: #5aff60;
$color-link-01: #0969da;
