@import '../stylesheets/_colors.scss';

.btn {
    color: $color-light-gray01;
    width: 70%;
    height: 65px;
    padding: 20px 10px;
    gap: 10px;
    border-radius: 5px;
    letter-spacing: -0.015em;
  
}
.header {
    height: 80px;
}

.search {
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.loginButton {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.submitButton {
    border-radius:0 5px 5px 0;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-control {
    border-radius:5px 0 0 5px;
}